Repository sebas1401/internetperla-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @sebas1401, @kelvinsgonzalez, @yordycifuentes

﻿ci: actualizar pnpm a 10.18.1 y Node 20 en workflows
  .github/workflows/ci-backend.yml
  .github/workflows/ci-mobile.yml
  .github/workflows/ci-web.yml
Owners: none

docs: guia paso a paso (clonar, instalar, DB, migraciones, seed, dev)
  README.md
Owners: none

chore(ci): desanclar versión de pnpm en workflows; usar la de packageManager para evitar ERR_PNPM_BAD_PM_VERSION
  .github/workflows/ci-backend.yml
  .github/workflows/ci-mobile.yml
  .github/workflows/ci-web.yml
Owners: none

chore(ci): permitir ejecución manual (workflow_dispatch) en workflows sin cambiar triggers
  .github/workflows/ci-backend.yml
  .github/workflows/ci-mobile.yml
  .github/workflows/ci-web.yml
Owners: none

chore(ci): instalar pnpm antes de Node y quitar cache; fix(lint/build): deps de eslint/prettier en paquetes; fix(web): fallback en /attendance; chore(backend/ui): tsconfig
  .github/workflows/ci-backend.yml
  .github/workflows/ci-mobile.yml
  .github/workflows/ci-web.yml
  apps/backend/.turbo/turbo-dev.log
Owners: @sebas1401

fix(web): relajar reglas de Next para Link (botón como hijo) a fin de pasar lint en CI
  apps/web/.eslintrc.json
Owners: @kelvinsgonzalez

fix(web): usar eslint . en lint para evitar falsos positivos de next lint; relajar reglas de Link
  apps/web/package.json
Owners: @kelvinsgonzalez

chore(ci): alinear pnpm@10.18.1 en action-setup; fix(mobile): ignorar archivos de tooling en ESLint
  .github/workflows/ci-backend.yml
  .github/workflows/ci-mobile.yml
  .github/workflows/ci-web.yml
  apps/mobile/.eslintrc.json
Owners: @yordycifuentes

Agregar script para verificar cambios antes del commit
  .gitignore
  OVERVIEW.md
  apps/backend/src/entities/attendance-record.entity.ts
  apps/backend/src/entities/employee.entity.ts
  apps/mobile/App.tsx
  scripts/verify.sh
Owners: @sebas1401, @yordycifuentes

Fix attendance relations to avoid runtime cycles
  apps/backend/src/entities/attendance-record.entity.ts
  apps/backend/src/entities/employee.entity.ts
Owners: @sebas1401

fix: ignore unused error in mobile fetch
  apps/mobile/App.tsx
Owners: @yordycifuentes

CODEOWNERS:

/apps/backend/ @sebas1401
/apps/web/ @kelvinsgonzalez
/apps/mobile/ @yordycifuentes
/packages/** @sebas1401 @kelvinsgonzalez @yordycifuentes
